#newContactForm {
    margin-left: 2.5em;
}

.modal-backdrop {
    z-index: -1;
}

#top-level-ng-view {
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-bottom: 2.5em;
}

.form-group.required .control-label:after {
    content:" *";
    color:red;
}

.bayard-margined {
    margin-top:2px;
    margin-bottom:2px;
}