<div class="container-fluid">
    <h1>Events</h1>
    <button class="btn btn-md btn-primary" ng-model="addEvent.hidden" ng-click="addEvent.hidden = !addEvent.hidden">Create Event</button>
    <br/>
    <div ng-if="addEvent.hidden == false">
        <div ng-include src=" 'resources/partials/forms/eventForm.html' "></div>
        <div class="row">
            <div class="col-md-8">
                <button class="btn btn-md btn-success" ng-click="createEvent()" ng-disabled="formHolder.eventForm.$invalid">Submit</button>
            </div>
        </div>
    </div>
    <br><br>
    <div ng-include src=" 'resources/partials/tables/eventsTable.html' "></div>
</div>