<div class="container-fluid">
    <h1>Organization Details</h1>
    <h4>Name: {{organization.name}}</h4>
    <h4>Street Address: {{organization.streetAddress}}</h4>
    <h4>City: {{organization.city}}</h4>
    <h4>State: {{organization.state}}</h4>
    <h4>Zip: {{organization.zipCode}}</h4>
    <h4>Description: {{organization.description}}</h4>
    <h4>Primary Contact: {{organization.primaryContactName}}</h4>
    <h4>Phone: {{organization.phoneNumber}}</h4>
    <h4>Email: {{organization.email}}</h4>

    <br><br>
    <h2>Members:</h2>
    <div ng-include src=" 'resources/partials/tables/organizationMembersTable.html' "></div>

</div>