<form name="formHolder.donationForm" id="formHolder.donationForm" ng-controller="DonationFormCtrl" novalidate>
    <div class="row">
        <div class="form-group col-xs-12 required">
            <label class="control-label">Amount</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input min="0" name="amount" type="number" class="form-control currency" placeholder="" ng-model="modelHolder.donationModel.amount" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <label class="control-label">Method</label>
            <select name="method" class="form-control " ng-model="modelHolder.donationModel.method" ng-options="value for value in donationMethodOptions" >
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <label class="control-label">Restricted to:</label>
            <input name="restrictedToCategory" type="text" class="form-control" ng-model=" modelHolder.donationModel.restrictedToCategory">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <label class="control-label">Budget item:</label>
            <select name="budgetItemId" class="form-control input-small" ng-model="modelHolder.donationModel.budgetItemId">
                <option ng-repeat="item in budgetItems" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 required">
            <label class="control-label">Date of Receipt</label>
            <input name="dateOfReceipt" type="date" class="form-control" ng-model=" modelHolder.donationModel.dates.dateOfReceipt" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12" >
            <label class="control-label">Date of Deposit</label>
            <input name="dateOfDeposit" type="date" ng-value="" class="form-control" ng-model=" modelHolder.donationModel.dates.dateOfDeposit">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <label class="control-label">Is this donation anonymous?</label>
            <select name="anonymous" class="form-control " ng-model="modelHolder.donationModel.anonymous" ng-options="booleanToString(value) for value in [true, false]" ng-selected="value == false">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <label class="control-label">Is this donation standalone?</label>
            <select name="standalone" class="form-control " ng-model="modelHolder.donationModel.standalone" ng-options="booleanToString(value) for value in [true, false]" ng-selected="value == false">
            </select>
        </div>
    </div>
</form>
