<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="displayEncounters()">
                    <h3 class="panel-title">Encounters</h3>
                </div>
                <div class="panel-body" ng-show="showingEncounters">
                    <button class="btn btn-primary" ng-click="showEncounterForm()" ng-show="!addingEncounter">Add Encounter</button>
                    <br/>
                    <div ng-show="addingEncounter">
                        <div ng-include src=" 'resources/partials/forms/encounterForm.html' "></div>
                        <button class="btn btn-success" ng-click="addEncounter()" ng-disabled="formHolder.encounterForm.$invalid">Create</button>
                        <button class="btn btn-danger" ng-click="cancelAddEncounter()">Cancel</button>
                    </div>
                    <br/>
                    <div ng-if="newEncounterRequestFailure" class="alert alert-danger" role="alert">Failed to add encounter...</div>
                    <div ng-if="newEncounterRequestSuccess" class="alert alert-success alert-dismissable" role="alert">Encounter Added</div>

                    <div class="row" ng-if="encountersTable.length > 0">
                        <div class="col-xs-8">
                            <div ng-include src=" 'resources/partials/tables/encountersTable.html' "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>