<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="getContactOrganizations()">
                    <h3 class="panel-title">Organizations</h3>
                </div>
                <div class="panel-body" ng-show="showingOrganizations">
                    <button class="btn btn-md btn-primary" ng-click="getOrganizations()">Add Organization</button>
                    <div ng-if="addOrganization.hidden == false">
                        <div class="form-group">
                            <label>Existing Organizations:
                                <select class="form-control input-small" ng-model="addOrganization.index">
                                    <option ng-repeat="organization in organizations | byAlreadyBelongsTo:contact.organizations"
                                            value="{{$index}}">{{organization.name}}
                                    </option>
                                </select>
                            </label>
                            <button class="btn btn-md btn-success" ng-click="addToOrganization(addOrganization.index)">Submit</button>
                        </div>
                        <button class="btn btn-md btn-success" ng-click="newOrganization.hidden = !newOrganization.hidden">Add to New Organization</button>
                        <div ng-if="newOrganization.hidden == false">
                            <div ng-include src=" 'resources/partials/forms/organizationForm.html' "></div>
                            <button class="btn btn-md btn-success" ng-click="createAndAddToOrganization(modelHolder.organizationModel)" ng-disabled="formHolder.organizationForm.$invalid">Submit</button>
                        </div>
                    </div>

                    <div ng-if="contact.organizations.length > 0">
                        <table class="bootstrap-table table table-striped table-hover table-responsive"
                               data-toggle="table"
                               data-pagination="true"
                               data-search="true">
                            <tr>
                                <th>Name</th>
                                <th>Remove from Organization</th>
                                <th>Details</th>
                            </tr>

                            <tr ng-repeat="organization in contact.organizations">
                                <td>{{organization.name}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="removeFromOrganization(organization.id)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
                                    </button>
                                </td>
                                <td><a class="btn btn-md btn-info" href="#/organizations/organization/{{organization.id}}">View
                                    Details</a></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>


