<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="displayDemographics()">
                    <h3 class="panel-title">Demographics</h3>
                </div>
                <div class="panel-body" ng-show="demographicPanel.showingDemographics">
                    <div ng-show="demographicPanel.updateRequest.success" class="alert alert-success alert-dismissable" role="alert">Demographics Updated</div>
                    <form id="demographicPanel.form" name="demographicPanel.form" novalidate>
                        <fieldset ng-disabled="!demographicPanel.editingDemographics">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="control-label">Race</label>
                                    <input name="race" type="text" class="form-control" ng-model="demographics.race">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="control-label">Ethnicity</label>
                                    <input name="ethnicity" type="text" class="form-control" ng-model="demographics.ethnicity">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="control-label">Date of Birth</label>
                                    <input name="race" type="date" class="form-control" ng-model="demographics.dobAsDate">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="control-label">Disabled</label>
                                    <select name="disabled" class="form-control input-sm" ng-model="demographics.disabled" ng-options="booleanToString(value) for value in [true, false]">
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="control-label">Gender</label>
                                    <input name="gender" type="text" class="form-control" ng-model="demographics.gender">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="control-label">Sexual Orientation</label>
                                    <input name="sexualOrientation" type="text" class="form-control" ng-model="demographics.sexualOrientation">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="control-label">Income Bracket</label>
                                    <input name="incomeBracket" type="text" class="form-control" ng-model="demographics.incomeBracket">
                                </div>
                            </div>

                        </fieldset>

                    </form>

                    <div ng-show="!demographicPanel.editingDemographics">
                        <button class="btn btn-primary" ng-click="toggleEditingDemographics()">Edit Demographics</button>
                    </div>
                    <div ng-show="demographicPanel.editingDemographics">
                        <button class="btn btn-success" ng-click="updateDemographics()">Submit</button>
                        <button class="btn btn-danger" ng-click="cancelUpdateDemographics()">Cancel</button>
                    </div>
                    <div ng-if="demographicPanel.updateRequest.failure" class="alert alert-danger" role="alert">Failed to update demographics...</div>
                </div>
            </div>
        </div>
    </div>
</div>
