<div class="panel panel-default">
    <div class="panel-heading" ng-click="displayEncounters()">
        <h3 class="panel-title">Encounters ({{encountersTable.length}})</h3>
    </div>
    <div class="panel-body" ng-show="showingEncounters">
        <button class="btn btn-primary" ng-click="showEncounterForm()">Add Encounter</button>

        <form name="newEncounterForm" id="newEncounterForm">
            <div class="form-group" ng-show="addingEncounter">
                <label>Initiator:
                    <select class="form-control input-small" ng-model="newEncounter.initiatorId">
                        <option ng-repeat="initiator in initiators | removeItemById:contact.id" value="{{initiator.id}}">{{initiator.firstName + " " + initiator.middleName + " " + initiator.lastName}}</option>
                    </select>
                </label>
                <label>Date
                    <input type="date"  ng-model="newEncounter.date">
                </label>
                <label>Assessment
                    <select class="form-control input-small" ng-model="newEncounter.assessment">
                        <option ng-repeat="value in assessmentRange" value="{{value}}">{{value}}</option>
                    </select>
                </label>
                <label>Type
                    <select class="form-control input-small" ng-model="newEncounter.type">
                        <option ng-repeat="value in encounterTypes" value="{{value}}">{{value}}</option>
                    </select>
                </label>
                <label>Notes
                    <textarea  rows="3" cols="50" ng-model="newEncounter.notes" ></textarea>
                </label>
                <button class="btn btn-success" ng-click="addEncounter()">Complete Encounter</button>
            </div>
        </form>
        <div ng-if="newEncounterRequestFailure" class="alert alert-danger" role="alert">Failed to add encounter...</div>
        <div ng-if="newEncounterRequestSuccess" class="alert alert-success alert-dismissable" role="alert">Encounter Added</div>

        <div ng-include src=" 'resources/partials/tables/encountersTable.html' "></div>

    </div>
</div>