<div class="panel panel-default">
    <div class="panel-heading" ng-click="showingEncounters=!showingEncounters">
        <h3 class="panel-title">Encounters ({{contact.encounters.length}})</h3>
    </div>
    <div class="panel-body" ng-show="showingEncounters">
        <div ng-show="newEncounter.requestSuccess" class="alert alert-success alert-dismissable" role="alert">Encounter Added</div>
        <button class="btn btn-primary" ng-click="addingEncounter=!addingEncounter">Add Encounter</button>

        <form name="newEncounterForm" id="newEncounterForm">
            <div class="form-group" ng-show="addingEncounter">
                <label>Initiator:
                    <select class="form-control input-small" ng-model="newEncounter.initiator">
                        <option ng-repeat="initiator in contacts" value="{{initiator.id}}">{{initiator.firstName + " " + initiator.middleName + " " + initiator.lastName}}</option>
                    </select>
                </label>
                <label>Date
                    <input type="date"  ng-model="newEncounter.encounterDate">
                </label>
                <label>Assessment
                    <select class="form-control input-small" ng-model="newEncounter.assessment">
                        <option ng-repeat="value in assessmentRange" value="{{value}}">{{value}}</option>
                    </select>
                </label>
                <label>Type
                    <select class="form-control input-small" ng-model="newEncounter.type">
                        <option ng-repeat="value in encounterTypes" value="{{value}}">{{value}}</option>
                    </select>
                </label>
                <label>Notes
                    <textarea  rows="3" cols="50" ng-model="newEncounter.notes" ></textarea>
                </label>
                <button class="btn btn-success" ng-click="addEncounter()">Complete Encounter</button>
            </div>
            <div ng-if="!encounterSuccess" class="alert alert-danger" role="alert">Failed to add encounter...</div>
        </form>

        <table class="bootstrap-table table table-striped table-hover table-responsive"
               data-toggle="table"
               data-pagination="true"
               data-search="true">

            <th>Date</th>
            <th>Type</th>
            <th>Assessment</th>
            <th>Notes</th>

            <tr ng-repeat="encounter in contact.encounters">
                <td>{{encounter.encounterDate | date: 'MMMM d, y'}}</td>
                <td>{{encounter.type}}</td>
                <td>{{encounter.assessment}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#encounterModal" ng-click="setEncounterInitiator(encounter.initiator)">
                        View Details
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="encounterModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="encounterModalLabel">Encounter Details</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>Initiator</h4>
                                    <p>{{initiator.firstName + " " + initiator.lastName}}</p>
                                    <button class="btn btn-md btn-info" data-dismiss="modal"  ng-click="viewDetails(initiator.id)">View Details</button>
                                    <hr>
                                    <h4>Notes</h4>
                                    <div>{{encounter.notes}}</div>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>