<div class="panel panel-default">
    <div class="panel-heading" ng-click="toggleShowingEvents()">
        <h3 class="panel-title">Events ({{contact.attendedEvents.length}})</h3>
    </div>
    <div class="panel-body" ng-show="showingEvents">
        <button class="btn btn-md btn-primary" ng-click="getEvents()">Add Event</button>

        <div class="form-group" ng-if="addEvent.hidden == false">
            <label>Event:
                <select class="form-control input-small" ng-model="addEvent">
                    <option ng-repeat="event in events | byAlreadyMemberOf:contact.attendedEvents" value="{{event}}">{{event.name}}</option>
                </select>
            </label>
            <button class="btn btn-md btn-success" ng-click="attendEvent(addEvent)">Submit</button>
        </div>

        <div ng-include src=" 'resources/partials/tables/eventsTable.html' "></div>
    </div>

</div>