<div class="container-fluid">
    <h1>Committees</h1>
    <button class="btn btn-md btn-primary" ng-show="hideForm" ng-click="showCommitteeForm()">Create Committee</button>

    <div ng-if="!hideForm">
        <form id="committeeForm" name="committeeForm" novalidate>
            <div class="row">
                <div class="form-group col-md-3 required"  ng-class="{ 'has-error' : committeeForm.name.$invalid && !committeeForm.name.$pristine }">
                    <label class="control-label">Name of Group</label>
                    <input name="name" type="text" class="form-control" ng-model="newCommittee.name" ng-minlength="2" required>
                    <p ng-show="committeeForm.name.$error.required && !committeeForm.name.$pristine" class="help-block">The committee name is required</p>
                    <p ng-show="committeeForm.name.$error.min" class="help-block">Committee name not long enough</p>
                </div>
                <div class="col-md-3"  >
                    <div class="alert alert-dismissable alert-danger" ng-if="newCommittee.constraintViolation">
                        {{newCommittee.constraintViolation}}
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-md btn-success" ng-click="createCommittee()" ng-disabled="committeeForm.$invalid">Submit</button>
                <button class="btn btn-md btn-danger" ng-click="cancelCreateCommittee()">Cancel</button>
            </div>
        </div>
    </div>
    <br><br>

    <table class="bootstrap-table table table-striped table-hover table-responsive"
           data-toggle="table"
           data-pagination="true"
           data-search="true">
        <tr>
            <th>Name</th>
            <th>Details</th>
        </tr>
        <tr ng-repeat="committee in committees">
            <td>{{committee.name}}</td>
            <td><a class="btn btn-md btn-info" href="#/committees/committee/{{committee.id}}">View Details</a></td>
        </tr>
    </table>
</div>