
<div class="container-fluid" ng-controller="ContactTableCtrl">
    <h1>Contacts</h1>
    <br>
    <hr>

    <div class="row">
        <div class="col-xs-3 col-sm-3 col-xs-3 col-sm-3 col-md-3">
            <label class="control-label">Select Field</label>
            <select name="field" class="form-control input-sm" ng-model="selectedField">
                <option value="{{field.field}}" ng-repeat="field in fields">{{field.label}}
                </option>
            </select>
        </div>
        <div class="col-xs-3 col-sm-3 col-xs-3 col-sm-3 col-md-3">
            <label class="control-label">Search</label>
            <input class="form-control input-sm" type="text" ng-model="searchValue" >
        </div>
    </div>
    <br>

    <div ng-controller="TableCtrl">
        <button ng-show="user.role == 'ROLE_SUPERUSER' || user.role == 'ROLE_ELEVATED' " class="btn btn-md btn-info" ng-click="exportData()">Export</button>
        <div id="exportable">
            <table class="bootstrap-table table table-striped table-hover">
                <tr data-toggle="tooltip" title="Click Field to Sort">
                    <th ng-click="orderByField = 'assessment' ; reverseSort =! reverseSort">Assessment</th>
                    <th ng-click="orderByField = 'firstName' ; reverseSort =! reverseSort">First Name</th>
                    <th ng-click="orderByField = 'lastName' ; reverseSort =! reverseSort">Last Name</th>
                    <th ng-click="orderByField = 'streetAddress' ; reverseSort =! reverseSort">Address</th>
                    <th ng-click="orderByField = 'aptNumber' ; reverseSort =! reverseSort">Apt #</th>
                    <th ng-click="orderByField = 'city' ; reverseSort =! reverseSort">City</th>
                    <th ng-click="orderByField = 'state' ; reverseSort =! reverseSort">State</th>
                    <th ng-click="orderByField = 'phoneNumber1' ; reverseSort =! reverseSort">Primary phone</th>
                    <th ng-click="orderByField = 'email' ; reverseSort =! reverseSort">Email</th>
                    <th>Status Fields</th>
                </tr>

                <tr ng-click="viewContactDetails(contact.id)" data-toggle="tooltip" title="Click to View Details"
                    ng-repeat="contact in contacts | byContactField:selectedField:searchValue | orderBy:orderByField:reverseSort">
                    <td>{{contact.assessment}}</td>
                    <td>{{contact.firstName}}</td>
                    <td>{{contact.lastName}}</td>
                    <td>{{contact.streetAddress}}</td>
                    <td>{{contact.aptNumber}}</td>
                    <td>{{contact.city}}</td>
                    <td>{{contact.state}}</td>
                    <td>{{contact.phoneNumber1}}</td>
                    <td>{{contact.email}}</td>
                    <td>
                        <span data-toggle="tooltip" title="Needs Follow Up" class="glyphicon glyphicon-earphone" ng-if="contact.needsFollowUp" aria-hidden="true"></span>
                        <span data-toggle="tooltip" title="Member" class="glyphicon glyphicon-star" ng-if="contact.member"></span>
                        <span data-toggle="tooltip" title="Donor" class="glyphicon glyphicon-piggy-bank" ng-if="contact.donor"></span>

                    </td>
                </tr>

            </table>
        </div>

    </div>

</div>
