<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9">
            <div ng-if="basicDetailsPanel.updateRequest.success" class="alert alert-success alert-dismissable" role="alert">Contact Updated</div>
            <div ng-if="basicDetailsPanel.updateRequest.failure" class="alert alert-danger alert-dismissable" role="alert">Error: {{errorMessage}}</div>
            <div class="page-header">
                <h3><a ng-href="#/contacts">Contacts</a> > {{contact.firstName}} {{contact.lastName}}</h3>
                <p class="help-block">Created: {{contact.created | date: 'MMMM d, y' }}, Last modified: {{contact.lastModified | date: 'MMMM d, y' }}</p>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="hideBasicDetails=!hideBasicDetails">
                    <h3 class="panel-title">Basic Details</h3>
                </div>
                <div class="row" ng-if="basicDetailsPanel.updateRequest.constraintViolation">
                    <div class="col-xs-4">
                        <div class="alert alert-dismissable alert-danger">
                            {{basicDetailsPanel.updateRequest.constraintViolation}}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-primary" ng-if="basicDetailsPanel.updateRequest.clashingDomainId" ng-click="viewDetails(basicDetailsPanel.updateRequest.clashingDomainId)">
                            Go to existing contact
                        </button>
                    </div>
                </div>
                <div class="panel-body" ng-show="!hideBasicDetails">
                    <form id="contactDetailsForm" name="contactDetailsForm" novalidate>
                        <fieldset ng-disabled="!basicDetailsPanel.editingBasicDetails">
                            <div class="row">
                                <div class=" col-xs-4 form-group required" ng-class="{ 'has-error' : newContactForm.firstName.$invalid && !newContactForm.firstName.$pristine }">
                                    <label class="control-label">First Name</label>
                                    <input name="firstName" type="text" class="form-control  " ng-model="contact.firstName" ng-maxlength="80" required>
                                    <p ng-show="contactDetailsForm.firstName.$error.required && !contactDetailsForm.firstName.$pristine" class="help-block">A first name is required</p>
                                    <p ng-show="contactDetailsForm.firstName.$error.maxlength" class="help-block">First name too long</p>
                                </div>
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">Assessment</label>
                                    <input type="text" class="form-control  " ng-model="contact.assessment" ng-disabled="true">
                                </div>
                                <div class="col-xs-4 form-group" style="text-align: center">
                                    <label class="control-label">Mailing Address</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">Nickname</label>
                                    <input type="text" class="form-control  " ng-model="contact.nickName">
                                </div>
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">Street Address</label>
                                    <input type="text" class="form-control  " ng-model="contact.streetAddress">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label class="control-label">Street Address</label>
                                    <input name="mailingStreetAddress" type="text" class="form-control" ng-model="contact.mailingStreetAddress">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">Middle Name</label>
                                    <input type="text" class="form-control  " ng-model="contact.middleName">
                                </div>
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">Apartment Number</label>
                                    <input type="text" class="form-control  " ng-model="contact.aptNumber">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label class="control-label">Apt Number</label>
                                    <input name="mailingAptNumber" type="text" class="form-control" ng-model="contact.mailingAptNumber">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" class="form-control  " ng-model="contact.lastName">
                                </div>
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">City</label>
                                    <input type="text" class="form-control  " ng-model="contact.city">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label class="control-label">City</label>
                                    <input name="mailingCity" type="text" class="form-control" ng-model="contact.mailingCity">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">Email</label>
                                    <input name="email" type="email" class="form-control" ng-model="contact.email">
                                    <p ng-show="contactDetailsForm.$error.email" class="help-block">Enter a valid email address</p>
                                    </label>
                                </div>
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">State</label>
                                    <input type="text" class="form-control  " ui-mask="AA" ng-model="contact.state">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label class="control-label">State</label>
                                    <input name="mailingState" type="text" ui-mask="AA" class="form-control" ng-model="contact.mailingState">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">Occupation</label>
                                    <input type="text" class="form-control  " ng-model="contact.occupation">
                                </div>
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">Zip Code</label>
                                    <input type="text" class="form-control  " ui-mask="99999" ng-model="contact.zipCode">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label class="control-label">Zip</label>
                                    <input name="mailingZipCode" type="text" ui-mask="99999" class="form-control" ng-model="contact.mailingZipCode">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">Preferred Language</label>
                                    <input type="text" class="form-control  " ng-model="contact.language">
                                </div>
                                <div class=" col-xs-4 form-group">
                                    <label class="control-label">Phone Number 1</label>
                                    <input type="text" class="form-control  " ui-mask="(999)-999-9999" ng-model="contact.phoneNumber1">
                                </div>
                                <div class="col-xs-4">
                                    <label class="control-label">Phone Number 2</label>
                                    <input type="text" class="form-control  " ui-mask="(999)-999-9999" ng-model="contact.phoneNumber2">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-xs-4 form-group">
                                    <div class="checkbox">
                                        <label class="control-label">
                                            <input type="checkbox" ng-select="contact.initiator" ng-model="contact.initiator"> This contact can initiate encounters
                                        </label>
                                    </div>
                                </div>
                                <div class=" col-xs-4 form-group">
                                    <div class="checkbox">
                                        <label class="control-label">
                                            <input type="checkbox" ng-checked="contact.needsFollowUp" ng-model="contact.needsFollowUp"> This contact needs a follow up
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div ng-show="!basicDetailsPanel.editingBasicDetails">
                            <button class="btn btn-primary" ng-click="basicDetailsPanel.editingBasicDetails=true">Edit Basic Details</button>
                        </div>
                        <div ng-show="basicDetailsPanel.editingBasicDetails" >
                            <button class="btn btn-success" ng-click="updateBasicDetails()" ng-disabled="contactDetailsForm.$invalid || contactDetailsForm.$pristine">Submit</button>
                            <button class="btn btn-danger" ng-click="cancelUpdateBasicDetails()">Cancel</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div ng-if="showingDevelopment" ng-include src=" 'resources/partials/panels/donorInfoPanel.html' "></div>
    <div ng-if="contact != null" ng-include src=" 'resources/partials/panels/demographicpanel.html' "></div>
    <div ng-include src=" 'resources/partials/panels/memberinfopanel.html' "></div>
    <div ng-include src=" 'resources/partials/panels/encounterpanel.html' "></div>
    <div ng-include src=" 'resources/partials/panels/organizationpanel.html' "></div>
    <div ng-include src=" 'resources/partials/panels/committeepanel.html' "></div>
    <div ng-include src=" 'resources/partials/panels/eventpanel.html' "></div>
    <div ng-include src=" 'resources/partials/panels/grouppanel.html' "></div>
    <div class="row">
        <div class="col-xs-9">
            <div ng-if="showingElevatedOptions" ng-include src=" 'resources/partials/panels/adminpanel.html' "></div>
        </div>
    </div>
</div>
