<div class="container-fluid">

    <h1>Encounter Types</h1>
    <button class="btn btn-md btn-primary"ng-model="addEncounterType.hidden" ng-click="addEncounterType.hidden = !addEncounterType.hidden">Create Encounter Type</button>

    <div class="form-group" ng-if="addEncounterType.hidden == false">
        <label>Name
            <input type="text" class="form-control input-sm" ng-model="name">
        </label>
        <button class="btn btn-md btn-success" ng-click="createEncounterType(name)">Submit</button>
    </div>

    <br><br>

    <table class="bootstrap-table table table-striped table-hover"
           data-toggle="table"
           data-query-params="queryParams"
           data-pagination="true"
           data-search="true"
           data-height="300">

        <th>Name</th>
        <th >Delete</th>
        <tr ng-repeat="encounterType in encounterTypes">
            <td>{{encounterType.name}}</td>

            <td>
                <button type="button" class="btn btn-danger btn-sm" ng-click="deleteEncounterType(encounterType)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                </button>
            </td>
        </tr>

    </table>
</div>