<div class="container-fluid">
    <div class="page-header">
        <h1>Event Details</h1>
    </div>
    <div ng-show="requestSuccess" class="alert alert-success alert-dismissable" role="alert">Event Updated</div>
    <div ng-show="requestFail" class="alert alert-danger alert-dismissable" role="alert">Unable to update Event...</div>
    <div id="event-detail-attributes" ng-show="!updatingEventDetails">
        <ul class="list-group">
            <li class="list-group-item">
                Name: {{modelHolder.eventModel.name}}
            </li>
            <li class="list-group-item">
                Location: {{modelHolder.eventModel.location}}
            </li>
            <li class="list-group-item">
                Date: {{modelHolder.eventModel.dateHeld}}
            </li>
            <li class="list-group-item">
                Committee: {{modelHolder.eventModel.committee.name}}
            </li>
        </ul>
    </div>
    <div ng-if="!updatingEventDetails">
        <button class="btn btn-warning" ng-click="showUpdateForm()">Update Event</button>
        <button class="btn btn-danger" ng-click="deleteEvent()">Delete Event</button>
    </div>

    <div ng-if="updatingEventDetails">
        <div ng-include src=" 'resources/partials/forms/eventForm.html' "></div>
        <button class="btn btn-md btn-success" ng-click="submitUpdate()" ng-disabled="formHolder.eventForm.$invalid">Done</button>
        <button class="btn btn-danger" ng-click="cancelUpdate()">Cancel</button>
    </div>

    <br/>

    <div ng-include src=" 'resources/partials/tables/simpleContactTable.html' "></div>

</div>