<div class="container-fluid">
    <div class="page-header">
        <h1>Event Details</h1>
    </div>
    <div class="row">
        <div class="col-xs-7">
            <div ng-show="requestSuccess" class="alert alert-success alert-dismissable" role="alert">Event Updated</div>
            <div ng-show="requestFail" class="alert alert-danger alert-dismissable" role="alert">Unable to update Organization...</div>
            <div id="org-detail-attributes" ng-show="!updatingEventDetails">
                <ul class="list-group">
                    <li class="list-group-item">
                        Name: {{modelHolder.eventModel.name}}
                    </li>
                    <li class="list-group-item">
                        Location: {{modelHolder.eventModel.location}}
                    </li>
                    <li class="list-group-item">
                        Date: {{modelHolder.eventModel.dateHeld}}
                    </li>
                    <li class="list-group-item">
                        Committee: {{modelHolder.eventModel.committee.name}}
                    </li>
                    <li class="list-group-item">
                        Additional Notes: {{modelHolder.eventModel.notes}}
                    </li>
                </ul>
                <div class="row">
                    <div class="col-xs-2">
                        <button class="btn btn-warning" ng-click="showUpdateForm()">Update Event</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <button class="btn btn-success bayard-margined" ng-click="showDonationForm()" ng-disabled="addingDonation">Add a Donation</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <button class="btn btn-danger" ng-click="deleteEvent()">Delete Event</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <a href="#events/event/{{event.id}}/sign-in" class="btn btn-primary">Sign In</a>
                    </div>
                </div>
            </div>
            <div ng-if="updatingEventDetails">
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-include src=" 'resources/partials/forms/eventForm.html' "></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <button class="btn btn-success bayard-margined" ng-click="submitUpdate()" ng-disabled="formHolder.organizationForm.$invalid">Done</button>
                        <button class="btn btn-danger bayard-margined" ng-click="cancelUpdate()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2 style="text-align: center">Attendees:</h2>
                    <div ng-include src=" 'resources/partials/tables/simpleContactTable.html' "></div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">

        </div>
        <div ng-if="!addingDonation">
            <div class="col-xs-4" ng-show="donations.length > 0">
                <h2 style="text-align: center">Donations:</h2>
                <div ng-include src=" 'resources/partials/tables/simpleDonationTable.html' "></div>
            </div>
        </div>
        <div ng-if="addingDonation">
            <div class="col-xs-4">
                <div ng-include src=" 'resources/partials/forms/donationForm.html' "></div>
                <button class="btn btn-md btn-success" ng-click="addDonationToEvent()" ng-disabled="formHolder.eventForm.$invalid">Done</button>
                <button class="btn btn-danger" ng-click="cancelAddDonation()">Cancel</button>
            </div>
        </div>
    </div>
</div>