<div class="container-fluid">
    <h3>Grants</h3>
    <br><br>
    <div class="row">
        <div class="col-md-8">
            <div ng-show="grants.length > 0" ng-include src=" 'resources/partials/tables/grantsTable.html' "></div>
        </div>
        <div class="col-md-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">New Grants</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <button class="btn btn-success btn-block bayard-margined" ng-click="creatingGrant = true">Create a Grant</button>
                                </div>
                                <div ng-if="creatingGrant">
                                    <form id="grantForm" name="grantForm" novalidate>
                                        <div class="row">
                                            <div class="form-group col-md-12 required"  ng-class="{ 'has-error' : grantForm.name.$invalid && !grantForm.name.$pristine }">
                                                <label class="control-label">Name of Grant</label>
                                                <input name="name" type="text" class="form-control" ng-model="newGrant.name" ng-maxlength="80" ng-minlength="2" required>
                                                <p ng-show="grantForm.name.$error.required && !grantForm.name.$pristine" class="help-block">The grant name is required</p>
                                                <p ng-show="grantForm.name.$error.maxlength" class="help-block">Grant name too long</p>
                                                <p ng-show="grantForm.name.$error.minlength" class="help-block">Grant name too short</p>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="alert alert-dismissable alert-danger" ng-if="newGrant.constraintViolation">
                                                    {{newGrant.constraintViolation}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 required" >
                                                <label class="control-label">Foundation</label>
                                                <select class="form-control input-small" name="initiator" ng-model="newGrant.foundationId" ng-disabled="preselectedFoundation"required>
                                                    <option ng-selected="newGrant.foundationId === foundation.id" ng-repeat="foundation in foundations" value="{{foundation.id}}">{{foundation.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12" >
                                                <label class="control-label">Start Period</label>
                                                <input name="startPeriod" type="date" class="form-control" ng-model="unformatted.startPeriod">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12" >
                                                <label class="control-label">End Period</label>
                                                <input name="endPeriod" type="date" class="form-control" ng-model="unformatted.endPeriod">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="control-label">Amount Applied For</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input name="amountAppliedFor" type="number" class="form-control currency" placeholder="applied for..." ng-model="newGrant.amountAppliedFor">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="control-label">Amount Received</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input name="amountReceived" type="number" class="form-control currency" placeholder="received..." ng-model="newGrant.amountReceived">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12" >
                                                <label class="control-label">Intent Deadline</label>
                                                <input name="intentDeadline" type="date" class="form-control" ng-model="unformatted.intentDeadline">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12" >
                                                <label class="control-label">Application Deadline</label>
                                                <input name="applicationDeadline" type="date" class="form-control" ng-model="unformatted.applicationDeadline">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12" >
                                                <label class="control-label">Report Deadline</label>
                                                <input name="reportDeadline" type="date" class="form-control" ng-model="unformatted.reportDeadline">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="control-label">Restriction</label>
                                                <input name="primaryContactName" type="text" class="form-control" ng-model="newGrant.restriction">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="control-label">Description</label>
                                                <textarea class="form-control" rows="5" cols="50" ng-model="newGrant.description" ></textarea>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-success btn-block bayard-margined" ng-click="createGrant()" ng-disabled="grantForm.$invalid">Submit</button>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-danger btn-block bayard-margined" ng-click="cancelCreateGrant()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>