<div class="container-fluid">
    <h3>Groups</h3>

    <br><br>

    <div class="row">
        <div class="col-md-4">
            <table class="bootstrap-table table table-striped table-hover table-responsive"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true">
                <tr>
                    <th>Group Name</th>
                </tr>
                <tr ng-repeat="group in groups" ng-click="viewGroupDetails(group.id)">
                    <td>{{group.groupName}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">New Groups</h3>
                            </div>
                            <div class="panel-body">
                                <div ng-if="hideForm">
                                    <button class="btn btn-success btn-block bayard-margined" ng-click="showGroupForm()">Create a Group</button>
                                </div>
                                <div ng-if="!hideForm">
                                    <form id="formHolder.groupForm" name="formHolder.groupForm" novalidate>
                                        <div class="row">
                                            <div class="form-group col-md-12 required"  ng-class="{ 'has-error' : formHolder.groupForm.name.$invalid && !formHolder.groupForm.name.$pristine }">
                                                <label class="control-label">Name of Group</label>
                                                <input name="name" type="text" class="form-control" ng-model="modelHolder.groupModel.groupName" ng-minlength="2" required>
                                                <p ng-show="formHolder.groupForm.name.$error.required && !formHolder.groupForm.name.$pristine" class="help-block">The group name is required</p>
                                                <p ng-show="formHolder.groupForm.name.$error.min" class="help-block">Group name not long enough</p>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-success btn-block bayard-margined" ng-click="createGroup()" ng-disabled="formHolder.groupForm.$invalid">Submit</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-danger btn-block bayard-margined" ng-click="cancelCreateGroup()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>