<div class="container-fluid">
    <h3>Organizations</h3>

    <br><br>

    <div class="row">
        <div class="col-md-4">
            <table class="bootstrap-table table table-striped table-hover table-responsive"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true">
                <tr>
                    <th>Organization Name</th>
                </tr>
                <tr ng-repeat="organization in organizations" ng-click="viewOrganizationDetails(organization.id)">
                    <td>{{organization.name}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">New Organizations</h3>
                            </div>
                            <div class="panel-body">
                                <div ng-if="hideForm">
                                    <button class="btn btn-success btn-block bayard-margined" ng-click="showOrganizationForm()">Create an Organization</button>
                                </div>
                                <div ng-if="!hideForm">
                                    <div ng-include src=" 'resources/partials/forms/organizationForm.html' "></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-success btn-block bayard-margined" ng-click="createOrganization()" ng-disabled="formHolder.organizationForm.$invalid">Submit</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-danger btn-block bayard-margined" ng-click="cancelCreateOrganization()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>