<div class="container-fluid">
    <h1>Organizations</h1>
    <button class="btn btn-md btn-primary" ng-show="hideForm" ng-click="showOrganizationForm()">Create Organization</button>

    <div ng-if="!hideForm">
        <div ng-include src=" 'resources/partials/forms/organizationForm.html' "></div>
        <div class="row">
            <div class="col-md-8">
                <button class="btn btn-md btn-success" ng-click="createOrganization()" ng-disabled="formHolder.organizationForm.$invalid">Submit</button>
                <button class="btn btn-md btn-danger" ng-click="cancelCreateOrganization()">Cancel</button>
            </div>
        </div>
    </div>
    <br><br>

    <table class="bootstrap-table table table-striped table-hover table-responsive"
           data-toggle="table"
           data-pagination="true"
           data-search="true">
        <tr>
            <th>Name</th>
            <th># Contacts</th>
            <th># Members</th>
            <th>Details</th>
        </tr>
        <tr ng-repeat="organization in organizations">
            <td>{{organization.name}}</td>
            <td>{{organization.members.length}}</td>
            <td>{{(organization.members | byMembers).length}}</td>
            <td><a class="btn btn-md btn-info" href="#/organizations/organization/{{organization.id}}">View Details</a></td>
        </tr>
    </table>
</div>