<div class="container-fluid">
    <div class="page-header">
        <h1>Organization Details</h1>
    </div>
    <div ng-show="requestSuccess" class="alert alert-success alert-dismissable" role="alert">Organization Updated</div>
    <div ng-show="requestFail" class="alert alert-danger alert-dismissable" role="alert">Unable to update Organization...</div>
    <div id="org-detail-attributes" ng-show="!updatingOrganizationDetails">
        <ul class="list-group">
            <li class="list-group-item">
                Name: {{modelHolder.organizationModel.name}}
            </li>
            <li class="list-group-item">
                Address: {{modelHolder.organizationModel.streetAddress}}
            </li>
            <li class="list-group-item">
                City: {{modelHolder.organizationModel.city}}
            </li>
            <li class="list-group-item">
                State: {{modelHolder.organizationModel.state}}
            </li>
            <li class="list-group-item">
                Zip: {{modelHolder.organizationModel.zipCode}}
            </li>
            <li class="list-group-item">
                Primary Contact: {{modelHolder.organizationModel.primaryContactName}}
            </li>
            <li class="list-group-item">
                Phone: {{modelHolder.organizationModel.phoneNumber}}
            </li>
            <li class="list-group-item">
                Email: {{modelHolder.organizationModel.email}}
            </li>
            <li class="list-group-item">
                Description: {{modelHolder.organizationModel.description}}
            </li>
        </ul>
    </div>
    <div ng-if="!updatingOrganizationDetails">
        <button class="btn btn-warning" ng-click="showUpdateForm()">Update Organization</button>
        <button class="btn btn-danger" ng-click="deleteOrganization()">Delete Organization</button>
    </div>

    <div ng-if="updatingOrganizationDetails">
        <div ng-include src=" 'resources/partials/forms/organizationForm.html' "></div>
        <button class="btn btn-success" ng-click="submitUpdate()" ng-disabled="formHolder.organizationForm.$invalid">Done</button>
        <button class="btn btn-danger" ng-click="cancelUpdate()">Cancel</button>
    </div>

    <br><br>
    <h2>Members:</h2>
    <div ng-include src=" 'resources/partials/tables/simpleContactTable.html' "></div>

</div>