<div class="container-fluid" ng-cloak>
    <div class="page-header">
        <h3><a ng-href="#/contacts/contact/{{contact.id}}">{{contact.firstName}} {{contact.lastName}}</a> > Sustainer Period</h3>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div ng-if="modelHolder.sustainerPeriodModel.cancelDate == null">
                    <div class="col-md-12">
                        <div  class="alert alert-success alert-dismissable" role="alert">Open
                        </div>
                    </div>
                </div>
                <div ng-if="modelHolder.sustainerPeriodModel.cancelDate != null">
                    <div class="col-md-12">
                        <div  class="alert alert-warning alert-dismissable" role="alert">Closed {{modelHolder.sustainerPeriodModel.cancelDate | date: 'MMMM d, y'}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-show="requestSuccess" class="alert alert-success alert-dismissable" role="alert">Sustainer period updated</div>
                    <div name="donation-details-panel" class="panel panel-default">
                        <div class="panel-body">
                            <fieldset ng-disabled="!editingSustainerPeriod">
                                <div ng-include="'resources/partials/forms/sustainerPeriodForm.html'"></div>

                            </fieldset>

                            <div class="row">
                                <div class="col-md-10">
                                    <div class="btn-group btn-group-justified" role="group">
                                        <a href="" type="button" class="btn btn-primary" ng-click="editingSustainerPeriod = true" ng-show="!editingSustainerPeriod">Edit</a>
                                        <a href="" type="button" class="btn btn-warning" ng-click="closePeriod()" ng-show="modelHolder.sustainerPeriodModel.cancelDate == null && !editingSustainerPeriod">Close</a>
                                        <a href="" type="button" class="btn btn-warning" ng-click="openPeriod()" ng-show="modelHolder.sustainerPeriodModel.cancelDate != null && !editingSustainerPeriod">Re-open</a>
                                        <a href="" type="button" class="btn btn-danger" ng-click="deleteSustainerPeriod()" ng-show="!editingSustainerPeriod">Delete</a>
                                        <a href="" type="button" class="btn btn-success" ng-click="updateSustainerPeriod()" ng-show="editingSustainerPeriod" ng-disabled="formHolder.sustainerPeriodForm.$invalid">Submit</a>
                                        <a href="" type="button" class="btn btn-danger" ng-click="cancelUpdateSustainerPeriod()" ng-show="editingSustainerPeriod">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>
</div>
