<div class="container-fluid">
    <div class="page-header">
        <h1>Users</h1>
    </div>
    <div class="row">
        <div id="group-detail-left-panel" class="col-md-3">
            <div ng-show="requestSuccess" class="alert alert-success alert-dismissable" role="alert">User Updated</div>
            <div ng-show="requestFail" class="alert alert-danger alert-dismissable" role="alert">Unable to update User...</div>
            <div ng-show="!updatingUser">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                First: {{userInDetail.firstName}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Last: {{userInDetail.lastName}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Email: {{userInDetail.email}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Role: {{userInDetail.role}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="!updatingUser">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-block smwc-margined" ng-click="showUpdateForm()">Update</button>
                </div>
            </div>
            <div class="row" ng-show="userPermissionLevel.isSuperUser()">
                <div class="col-md-12">
                    <button class="btn btn-danger btn-block smwc-margined" ng-click="deleteUser()">Delete</button>
                </div>
            </div>

            <div ng-if="updatingUser">
                <div>
                    <form id="updateUserForm" name="updateUserForm" novalidate>
                        <div class="row">
                            <div class="form-group col-md-12 required"  ng-class="{ 'has-error' : updateUserForm.firstName.$invalid && !updateUserForm.firstName.name.$pristine }">
                                <label class="control-label">First Name</label>
                                <input name="firstName" type="text" class="form-control" ng-model="userInDetail.firstName" ng-minlength="2" required>
                                <p ng-show="updateUserForm.firstName.$error.required && !updateUserForm.firstName.$pristine" class="help-block">A first name is required</p>
                                <p ng-show="updateUserForm.firstName.$error.min" class="help-block">First name not long enough</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 required"  ng-class="{ 'has-error' : updateUserForm.lastName.$invalid && !updateUserForm.lastName.name.$pristine }">
                                <label class="control-label">Last Name</label>
                                <input name="lastName" type="text" class="form-control" ng-model="userInDetail.lastName" ng-minlength="2" required>
                                <p ng-show="updateUserForm.lastName.$error.required && !updateUserForm.lastName.$pristine" class="help-block">A Last name is required</p>
                                <p ng-show="updateUserForm.lastName.$error.min" class="help-block">Last name not long enough</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 required"  ng-class="{ 'has-error' : newUserForm.email.$invalid && !newUserForm.email.$pristine }">
                                <label class="control-label">Email</label>
                                <input name="email" type="email" class="form-control" ng-model="userInDetail.email">
                                <p ng-show="updateUserForm.$error.email" class="help-block">Enter a valid email address</p>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success btn-block smwc-margined" ng-click="submitUpdate()" ng-disabled="updateUserForm.$invalid">Ok</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger btn-block smwc-margined" ng-click="cancelUpdate()">Cancel</button>
                        </div>
                    </div>
                </div>
                <br/>
            </div>

        </div>
        <div class="col-md-3">
            <div class="row" ng-show="userPermissionLevel.isSuperUser()">
                <div class="col-md-12">
                    <ul class="list-group">
                        <p>Users</p>
                        <li class="list-group-item" ng-repeat="user in users">
                            <div ng-click="viewInDetail(user)">
                                {{user.firstName}} {{user.lastName}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row" ng-show="userPermissionLevel.isSuperUser()">
                <div class="row" ng-show="!creatingUser">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-block smwc-margined" ng-click="showNewUserForm()">Create a User</button>
                    </div>
                </div>
                <div ng-if="creatingUser">
                    <div>
                        <form id="newUserForm" name="newUserForm" novalidate>
                            <div class="row">
                                <div class="form-group col-md-12 required"  ng-class="{ 'has-error' : newUserForm.firstName.$invalid && !newUserForm.firstName.name.$pristine }">
                                    <label class="control-label">First Name</label>
                                    <input name="firstName" type="text" class="form-control" ng-model="newUser.firstName" ng-minlength="2" required>
                                    <p ng-show="newUserForm.firstName.$error.required && !newUserForm.firstName.$pristine" class="help-block">A first name is required</p>
                                    <p ng-show="newUserForm.firstName.$error.min" class="help-block">First name not long enough</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 required"  ng-class="{ 'has-error' : newUserForm.lastName.$invalid && !newUserForm.lastName.name.$pristine }">
                                    <label class="control-label">Last Name</label>
                                    <input name="lastName" type="text" class="form-control" ng-model="newUser.lastName" ng-minlength="2" required>
                                    <p ng-show="newUserForm.lastName.$error.required && !newUserForm.lastName.$pristine" class="help-block">A Last name is required</p>
                                    <p ng-show="newUserForm.lastName.$error.min" class="help-block">Last name not long enough</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 required"  ng-class="{ 'has-error' : newUserForm.email.$invalid && !newUserForm.email.$pristine }">
                                    <label class="control-label">Email</label>
                                    <input name="email" type="email" class="form-control" ng-model="newUser.email">
                                    <p ng-show="newUserForm.$error.email" class="help-block">Enter a valid email address</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 required">
                                    <label class="control-label">Role</label>
                                    <select name="role" class="form-control input-small" ng-model="newUser.role" required>
                                        <option ng-repeat="role in roles" value="{{role}}">{{role}}</option>
                                    </select>
                                    <p ng-show="newUserForm.role.$error.required && !newUserForm.role.$pristine" class="help-block">A role is required</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 required">
                                    <label class="control-label">Password</label>
                                    <input name="password" type="password" class="form-control" ng-model="newUser.password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 required">
                                    <label class="control-label">Repeat Password</label>
                                    <input name="repeatPassword" type="password" class="form-control" ng-model="newUser.repeatPassword">
                                    <p ng-show="newUser.password !== newUser.repeatPassword && !newUserForm.repeatPassword.$pristine" class="help-block">Passwords do not match</p>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-success btn-block smwc-margined" ng-click="createNewUser()" ng-disabled="newUserForm.$invalid">Create</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-danger btn-block smwc-margined" ng-click="cancelNewUserForm()">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>


</div>