<table class="bootstrap-table table table-striped table-hover table-responsive"
       data-toggle="table"
       data-pagination="true"
       data-search="true">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Committee</th>
        <th># Attendees</th>
        <th ng-if="showingEvents">Remove from Event?</th>
    </tr>
    <tr ng-repeat="event in eventsTable" ng-click="viewEventDetails(event.id)">
        <td>{{event.name}}</td>
        <td>{{event.location}}</td>
        <td>{{event.dateHeld | date: 'MMMM d, y'}}</td>
        <td>{{event.committee.name}}</td>
        <td>{{event.attendees.length}}</td>
        <td ng-if="showingEvents">
            <button type="button" class="btn btn-danger btn-sm" ng-click="removeFromEvent(event.id)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
            </button>
        </td>
    </tr>
</table>