<div ng-controller="DonationTableCtrl">
    <br>
    <table class="bootstrap-table table table-striped table-hover table-responsive"
           data-toggle="table"
           data-pagination="true"
           data-search="true">
        <tr>
            <th>Date of Receipt</th>
            <th>Date of Deposit</th>
            <th>Amount</th>
            <th>Method</th>
        </tr>
        <tr ng-repeat="donation in donations | orderBy: '-dateOfReceipt'" ng-click="viewDonationDetails(donation)">
            <td>{{donation.dateOfReceipt | date: 'MMMM d, y'}}</td>
            <td>{{donation.dateOfDeposit | date: 'MMMM d, y'}}</td>
            <td>${{donation.amount}}</td>
            <td>{{donation.method}}</td>
        </tr>
    </table>
</div>