<br>
<div>
    <table class="bootstrap-table table table-striped table-hover table-responsive"
           data-toggle="table"
           data-pagination="true"
           data-search="true">
        <tr>
            <th>Started</th>
            <th>Ended</th>
            <th>Monthly Amount</th>
        </tr>
        <tr ng-repeat="period in sustainerPeriods | orderBy: '-periodStartDate'" ng-click="viewSustainerPeriod(period.id)">
            <td>{{period.periodStartDate | date: 'MMMM d, y'}}</td>
            <td>{{period.cancelDate | date: 'MMMM d, y'}}</td>
            <td>${{period.monthlyAmount}}</td>
        </tr>
    </table>
</div>